*{
    margin: 0;
    padding: 0;
}
.for-main{
    width: 100vw;
    height: 100vh;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.for-card{
    width: 50vw;
    height:97vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: gray 1px 1px 20px;
}
.for-formgroup{
    width: 30vw;
}
.for-field{
    border-radius: 10px;
    margin:2vh 1vw ;
}
.for-field{
    border: 2px solid rgb(2, 197, 197);
}
.for-field legend{
    /* width: 11vw; */
    margin: 0 3vw;
}
.for-field input{
    outline: none;
    border: none;
    text-align: center;
    width: 20vw;
    margin:2vh 1vw ;
}
#submit{
    background-color: aqua;
    width: 30vw;
    height:7vh;
    border-radius: 10px;
    margin-top: 3vh;
    border: none;
}