@media (max-width:1349px) {
    .blu-bg{
        height: 3.5rem;
    }
}
@media (max-width:1230px) {
    .img-wave{
        right: 35rem;
    }
}
@media (max-width:1126px) {
    .t-rs{
        width:-1rem;
    }
    .t-rs p{
        text-align: end;
    }
}
@media (max-width:1121px) {
    .img-wave{
        right: 30rem;
    }
}
@media (max-width:1091px) {
    .img-wave{
        display: none;
    }
}
@media (max-width:835px) {
    .b-text{
        font-weight:600 ;
    }
    .col-grey{
        height: 2rem;
        width: fit-content
    }
    .r-bg{
        height: 8rem;
    }
}
@media (max-width:747px) {

    .b-text{
        font-weight:500 ;
    }
    .col-grey{
        height: 2rem;
        width: fit-content
    }
    .r-bg{
        height: 8.5rem;
    }
    .text{
        display: none;
    }
    .m-text{
        display: none;
    }
    .r-bg{
        display: none;
    }
    .blu-bg{
        display: none;
    }
    .b-text{
        font-weight: bold;
    }
    .img-gtk{
        height: 20rem;
        background-position: 10px;
    }
    .rect img{
        position: relative;
        width: 14em;
        left: -1em;
        top: 0em;
        
    }
   
}
@media (min-width:540px) {
    /* .m-b{

        flex-direction: column;
    } */
    /* .t-rs{
        width: 15em;
    } */
    /* .img-gtk{
        height:12em;
        width:10em;
    } */
}

@media (max-width:382){
    .d-f.bod{
        width: 9em;
        display: table;
    }
    .t-rs{
        word-wrap: break-word;
    }
}