 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    margin:1rem 1rem;
    height: 100vh;
}
.first-cont{
    height: 100vh;
}
.m-text{
    height: 11vh;
    position: relative;
    left: 40vw;
    top: 16vh;
    width: fit-content;
    z-index: 100;
}
.img-group{
    position: absolute;
    margin: 1rem;
}

.s-img{
    position: relative;
    z-index: -1;
    top: -75vh;
    left: 2.5vw;
}
.red-bg{
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 60vw;
    height: 13vh;
    text-align: center;
    position: relative;
    top: 20vh;
    left: 20vw;
    /* align-items: center; */
}
.red-bg .bold{
    margin: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}
.blue-bg{
    background-color: aqua;
    height:5vh;
    width: auto;
    margin: auto 0;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1rem;
}
.s-text{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 36vh;
    max-width: fit-content;
    margin: 1rem;
    left: 37vw;
    flex-direction: column;
}
.bolder{
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: capitalize;
}
/*.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pop{
    width:80vw;
}
.img-gtk{
    display: flex;
    z-index: -1;
}
.img-wave{
    display: flex;
    z-index: -1;
    float: right;
    width: 2rem;
    position: absolute;
    right: 42rem;
    top: 1rem;
}
.img-wave img{
    top:1.5rem;
    width: 75rem;
    display: flex;
    /* mar 
}
.rect{
    z-index: -2;
    display: flex;
    float: left;
    position: absolute;
    left: 8rem;
    top: 6rem;
}
.d-f-bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 50%;
    float: right;
    align-content: flex-end;
    flex-wrap: wrap;
}
.m-b{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5rem;
    width: 90vw;
}
.d-f-row{
    display: flex;
    flex-direction: row;
    
}
.r-bg{
    width:50vw;
    background-color: #e33924;
    border-radius: 10px;
    margin:40px;
    height: 7rem;
    /* display: block; 
}
.i-t{
    display: flex;
    /* margin: 10px; 
    width: 41vw;
}
.i-t p{
    margin: 1rem;
}

.blu-bg{
    background-color: #5ce1e6;
    height: 4.75vh;
    width: 9vw;
    border-radius: 10px;
    margin: 1.5vh;
    text-align: center;
    justify-content: center;
}
.text-padding{
    padding: 0.5rem;
}
.b-text{
    font-weight: bold;
    
    font-style: 'monospace';
}


.d-f-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12vh;
    margin: 2rem;
}
.text-GAR{
    padding-top: 3rem;
}
.left{
    float: left;
    width: 30vw;
}
.middle{
    width:30vw;
}
.right{
    width: 30vw;
    float: right;
} */
