.container{
    height: 100vh;
    max-width: 100vw;
    background-color: #f4f4f4;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-container{
    max-width: 50vw;
    height: 99vh;
    background-color: white;
    margin: auto;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    border-top-left-radius: 6rem;
    box-shadow: 10px 10px 10px grey;

    
}
.img{
    display: flex;
    /* justify-content: ; */
    
}
.img .left{
    max-width:50%;
    /* padding: 1rem; */
}
/* .img .right{
    max-width: 50%;
    padding: 5rem; */


/* .img .right img{
    max-width: 2rem;
} */
.head-text{
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.head-text p{
    margin: 1rem 1rem;
   
    max-width: 100vw;
    text-transform: uppercase;
}
.head-text p span{
    font-weight: bold;
    color: #71bdf6;
}
/* .form-group{

    

} */
.form-group fieldset{
    max-width: 50%;
    height: 3.5rem;
    margin: 1.8rem auto;
    border-color: aqua;
    border-radius: 1rem;
}
.form-group fieldset legend{
    margin: 0 3vw;
    width: 3vw;
}
.form-group fieldset input{
    width: 15vw;
    outline: none;
    border: none;
    text-align: center;
    
}
.forgotpassword{
}
.forgotpassword ul li{
    list-style: none;
    text-align: center;
    margin: auto;
}
.forgotpassword ul li a{
    text-decoration: none;
    color: black;
}
.form-group .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* padding: 1rem; */
    margin: 2vh;
    
}
.form-group .btn button{
    padding: 2vh 8vw;
    /* max-width: 50rem; */
    font-size: 1rem;
    /* background-color: #71bdf6; */
    background-color: rgb(33, 255, 255);
    border: 0px;
    border-radius: 3rem;
}
.form-group .btn button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    text-transform:capitalize;
    font-size: medium;
}
.bottom .para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem ;
    height: 2.5rem;
}
.bottom .link-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem ;
    height: 2.5rem;
}
.rights-l{
    position: absolute;
    bottom: 3vh;
    border-bottom: 2px solid black;
    width: 39vw;
    text-align: center;
    /* margin-top: 3vh; */
}
.a-l{
    text-decoration: none;
}