*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    height: 3em;
    justify-content: center;
    position: sticky;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    margin: 2em;
}
.left-nav{
    margin-left: -3rem;
    display: flex;
    width: 50vw;
    flex-direction: row;
}
.left-nav .myImg{
    width: 13rem;
}
.left-nav .list-item{
    display: flex;
}
.logo {
    position: absolute;
    top: 3px;
    width: 12rem;
}
.right-nav {
    width: 50vw;
    display: flex;
    text-align: right;
    justify-content: right;
    margin-right: 1rem;
    align-items: center;
}
.right-nav input{
    margin: unset;
    position: relative;
    top: -1vh;
    width: 15vw;
    height: 5vh;
    text-align: center;
    /* border-radius: 10px; */
}
.right-nav li a{
    text-decoration: none;
    color: black;
}

.search{
    width: 14vw;
}
.search img{

    height: 3vh;
    z-index: 1;

}
.search form{
    height: 2vh;
    width: fit-content;
}
.search form button{
    border: none;
    background-color: aqua;
    position: relative;
    top: -2.5vh;
    height: 3vh;
    width: 5vw;
    left: -1vw;
    border-radius: 10px;
} 