*{
    margin: 0;
    padding: 0;
}
.o-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 179, 179);
}
.o-card{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px;
    /* margin: auto; */
}
.o-card img{
    position: relative;
    top: -16vh;
}
.o-form legend{
    margin: 0 0 2vh 0;
    font-weight: 600;
}
.o-form input{
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    /* border: none; */
    text-align: center;
    font-weight: 600;
    font-size: medium;
}
.resend{
    margin-top: 1vh;
    text-align: center;
}
.resend ul{
    list-style: none;
}
.resend ul li a{
    color: black;
    text-decoration: none;
}
.o-btn{
    height: 0vh;
    display: flex;
    justify-content: center;
}
.o-btn button {
    background-color: aqua;
    width: 32vh;
    height: 6vh;
    margin-top: 1.5vh;
    border: none;
    border-radius: 10px;
}
