.container{
    height: 100vh;
    max-width: 100vw;
    background-color: #f4f4f4;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-container{
    max-width: 39vw;
    height: 90vh;
    background-color: white;
    margin: auto;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    border-top-left-radius: 6rem;
    box-shadow: 10px 10px 10px grey;

    
}
.img{
    display: flex;
    /* justify-content: ; */
    
}
.img .left{
    max-width:50%;
    /* padding: 1rem; */
}
/* .img .right{
    max-width: 50%;
    padding: 5rem; */


/* .img .right img{
    max-width: 2rem;
} */
.head-text{
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.head-text p{
   
    max-width: 100vw;
    text-transform: uppercase;
    margin: 0rem 4rem;
    font-weight: bold;
    color: rgb(54, 173, 252);
}
.head-text p span{
    font-weight: bold;
    color: #71bdf6;
}
/* .form-group{

    

} */
.si-form-group fieldset{
    max-width: 50%;
    height: 3.5rem;
    margin: 0.8rem auto;
    border-color: aqua;
    border-radius: 10px;
}
.si-form-group fieldset input{
    width: 18vw;
    outline: none;
    border: none;
    text-align: center;
    
}
.si-form-group .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
    
}
.si-form-group .btn button{
    padding: 2vh 8vw;
    /* max-width: 50rem; */
    font-size: 1rem;
    /* background-color: #71bdf6; */
    background-color: rgb(33, 255, 255);
    border: 0px;
    border-radius: 10px;

}
.em {
    width: 5vw;
    margin: 0 2vw;
}
#con{
    width: 10.5vw;
    margin:0 2vw;
}
.form-group .btn button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.label{
    text-align: center;
    width: 100%;
   
}
.label label{
    text-align: center;
    width: 100vw;
    margin: auto;
}
.bottom{
    display: flex;
    
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    text-transform:capitalize;
    font-size: medium;
}
.bottom .para{
    display: flex;
    justify-self: center;
    align-items: center;
    margin:0.5rem ;
    height: 2.5rem;
}
.bottom .link-signup{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    align-items: center;
    margin:0.5rem ;
    height: 2.5rem;
}
.link-signup a{
    text-decoration: none;
}
.a{
    text-decoration: none;
}
.rights{
    position: absolute;
    bottom: 3vh;
    border-bottom: 2px solid black;
    width: 31vw;
    text-align: center;
    /* margin-top: 3vh; */
}
